body {
    padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
}
   
.navbar .brand {
    color:white;
}

.navbar .brand {
    color:white;
}


.navbar .nav .active > a, .navbar .nav .active > a:hover  {
    color:#F7FF31;
}

.navbar .nav > li > a  {
    color: #dfdfdf;
}

.errorlist {
    list-style: none;
    color: red;
}

   